body {background-color:black;font-family:white}
h1{color:grey;font-family:verdana}
body{
    align:center;
    width:100%
    padding:100%;
    background-color:grey;
}
.maindiv
{
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center
}
footer
{
    background-color:grey;
}
.btn
{
    background-color:grey;
    color:white;
    transition:0.3s;
    border:none;
    text-align:center;
    opacity:0.6;
}
.btn:hover{opacity:1}


