body {background-color:black;font-family:white}
h1{color:grey;font-family:verdana}
body{
    align:center;
    width:100%
    padding:100%;
    background-color:grey;
}
.maindiv
{
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center
}


